.venv/
.pytest_cache/
htmlcov/
dist/
build/
*.egg-info/
.coverage
.coverage.*
coverage.xml
.mypy_cache/
.ruff_cache/
__pypackages__/
*.log
*.swp
.env
.env.*
.vscode/
.idea/
Thumbs.db
.DS_Store
**/__pycache__/
**/__pycache__/**
*.pyc
*.py[cod]
*.pyc.*

# ambiente virtual
zera-ai-core/ 