# API
fastapi
uvicorn

# Agents
langgraph
langchain
langchain_google_genai
langchain_community
langchain_groq

# Database
pymongo

# Utils
python-dotenv

# Tests
pytest
pytest-cov

# pdf --> FAISS
faiss-cpu
pypdf

# supabase storage (to save and load files)
supabase
weasyprint